*{
	border: none;
	outline: none;
	margin: 0;
	padding: 0;
	text-decoration: none;
	font-family: 'Open Sans', sans-serif;
}
li{
	list-style: none;
}
a:hover{
	opacity: .7;
}
.wrapper{
	position: relative;
	margin-top: 100px;
}
.page-title{
	font-size: 25px;
	font-weight: 300;
	color: #555;
	text-align: center;
}
.mistakes-section{
	margin-top: 60px;
}
.goto{
	font-size: 16px;
	color: #7474ce;
	font-weight: 400;
}
.container{
	width: 960px;
	margin: 0 auto;
}
.mistakes-block{

}
.mistake{
	border-radius: 3px;
	margin-top: 20px;
	box-shadow: 0 2px 4px 2px rgba(0,0,0,.1);
	padding: 15px;
}
.book-title{
	font-size: 20px;
	color: #656565;
	font-weight: 400;
}
.mistake-quote-title{
	font-size: 14px;
	color: #666;
	font-weight: 300;
}
.mistake-comment-title{
	font-size: 14px;
	color: #666;
	font-weight: 300;
}
.mistake-comment{
	margin-top: 20px;
}
.mistake-quote{
	margin-top: 20px;
}
.mistake-quote-text{
	font-size: 15px;
	margin-top: 5px;
	padding: 10px;
	border-radius: 3px;
	background: #fff6ed;
	color: #5f5f5f;
	border: 1px solid #ededed;
}
.mistake-comment-text{
	font-size: 15px;
	margin-top: 5px;
	padding: 10px;
	border-radius: 3px;
	background: #f3ffe0;
	color: #5f5f5f;
	border: 1px solid #ededed;
}