doctype html
html(lang="en")
head
	meta(charset="UTF-8")
	title Document
	link(rel="stylesheet", href="css/index.css")
	link(href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet")
	script(src='js/libs/jquery.min.js')
body
	.wrapper
		h1 Выберите книгу
		.book-list
			each book, indx in books
				- var index = indx + 1;
				.book(data-title= book.title data-src= 'book' + index)
					img(src='img/bookimg.jpg')
					h3.book-title= book.title
	script(src='js/index.js')