doctype html
html.no-js
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
		title
		meta(name="viewport", content="width=device-width, user-scalable=no")
		meta(name="apple-mobile-web-app-capable", content="yes")
		meta(property="og:url" content="http://epubreader.herokuapp.com/reader")
		meta(property="og:type" content="website")
		meta(property="og:title" content="Падение Трои")
		meta(property="og:description" content="Я нашел там дворец Одиссея, этого странника.")
		meta(property="og:image" content="http://kitap.kz/templates/kitap/img/logo.png")
		link(href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet")
		link(rel="stylesheet", href="css/normalize.css")
		link(rel="stylesheet", href="css/main.css")
		link(rel="stylesheet", href="css/popup.css")
		script(src="js/fb.js")
		script(src="js/libs/jquery.min.js")
		script(src="js/libs/jquery-ui.min.js")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.4/lodash.min.js")
		script(src="js/libs/zip.min.js")
		script(src="js/init.js")
		script(src="js/libs/screenfull.min.js")
		script(src="js/epub.min.js")
		script(src="js/hooks.min.js")
		script(src="js/reader.js")
		script(src="//yastatic.net/es5-shims/0.0.2/es5-shims.min.js")
		script(src="//yastatic.net/share2/share.js")
	body
		div#fb-root
		srcipt(src='js/fb.js')
		#sidebar
			#panels
				a#show-Toc.show_view.icon-list.active(data-view="Toc") TOC
				a#show-Bookmarks.show_view.icon-bookmark(data-view="Bookmarks") Bookmarks
				a#show-Notes.show_view.icon-pencil(data-view="Notes") Notes
			#tocView.view
				h3.viewTitle Главы
			#searchView.view
				ul#searchResults
			#bookmarksView.view
				h3.viewTitle Закладки
				ul#bookmarks
					each bm, idx in bookmarks
						- var bookmark = `bookmark-${idx}`
						li.list_item(id= bookmark)
							a(href=bm).bookmark_link= bookmark
			#notesView.view
				h3.viewTitle(style='margin-left:15px') Заметки
				#new-note
					textarea#note-text
					button#note-anchor заметка
				ol#notes
		#main
			#titlebar
				#opener
					a#slider.icon-menu Menu
				#metainfo
					span#book-title
					span#title-seperator  - 
					span#chapter-title
				#title-controls
					a#settings.icon-cog Settings
					#settings-panel
						.setting#fontfamily-setting
							.setting-title
								i.icon-font
								span Шрифт
							.setting-content
								span.setting-content-value#ArialRegular Arial
								span.setting-content-value#TimesNewRomanRegular Times New Roman
								span.setting-content-value#HelveticaRegular.active-setting Helvetica
						.setting#fontsize-setting
							.setting-title
								i.icon-fontsize-1
								span Размер шрифта
							.setting-content
								span#font16.setting-content-value.active-setting 16px
								span#font20.setting-content-value 20px
								span#font24.setting-content-value 24px
						.setting#interval-setting
							.setting-title
								i.icon-align-left
								span Межстрочный интервал
							.setting-content
								span.setting-content-value#1-2em.active-setting мелкий
								span.setting-content-value#1-6em средний
								span.setting-content-value#2em большой
						.setting#theme-setting
							.setting-title
								i.icon-picture
								span Фон
							.setting-content.theme
								span.setting-content-value#yellow.active-setting
								span.setting-content-value#white
								span.setting-content-value#grey
						.setting#nightwatch-setting.clearfix
							.setting-title(style='float:left')
								span Ночной режим
							.setting-content(style='float:right;margin-top:0')
								i.night-icon.icon-moon-inv
					a#bookmark.icon-bookmark-empty Сделать закладку
					a#fullscreen.icon-resize-full Полноэкранный режим
			#divider
			#prev.arrow ‹
			#viewer
			#next.arrow ›
			#progress
				#progress-range
					#progress-status
					span#progress-value
					#progress-slider
						span#current-chapter
			#loader
				img(src="img/loader.gif")
			#text-fragment-area
				.save-quote-block.fragment-block
					button.save-quote-button Сохранить цитату
					.save-quote-message
				.share-block.fragment-block
					h3.fragment-block-title Поделиться
					#share-block
						div(class="fb-share-button" data-href="http://epubreader.herokuapp.com/reader" data-layout="button_count" data-size="small" data-mobile-iframe="false")
							//- a(class="fb-xfbml-parse-ignore" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse") Share
				.mistake-block.fragment-block
					h3.fragment-block-title Сообщить об ошибке
					textarea.text-fragment
					h3.fragment-block-title Ваш комментарий
					textarea.comment
					.send-mistake-block
						button.send-mistake-button Отправить
				.close-button
					i.icon-cancel
				.result-message
		.overlay
			img(src="img/Spinner.gif")