doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(property='og:title', content= title)
		meta(property='og:type', content='website')
		meta(property='og:url', content='http://www.epubreader.herokuapp.com/home')
		meta(property='og:description', content= quote)
		meta(property='og:image', content='http://epubreader.herokuapp.com/img/ogimage.png')
		meta(property='mrc__share_title' content= title)
		meta(name="mrc__share_description" content= quote)
		meta(property='vk:image' content='http://epubreader.herokuapp.com/img/ogimage.png')
		meta(name="twitter:title" content= title)
		meta(name="twitter:description" content= quote)
		meta(name='twitter:image' content='http://epubreader.herokuapp.com/img/ogimage.png')
		title Цитата
		link(href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet")
		link(rel="stylesheet", href="css/quote.css")
		script(src='https://yastatic.net/es5-shims/0.0.2/es5-shims.min.js')
		script(src='https://yastatic.net/share2/share.js', async='async')
	body
		.wrapper
			.quote-block
				.container
					h1 Поделиться цитатой в соц. сетях
					.quote
						h2= title
						.quote-text-section
							p= quote
						.controls
							.ya-share2(data-services='vkontakte,twitter,facebook' data-description= quote data-title= title data-image='http://epubreader.herokuapp.com/img/ogimage.png')
						.toquotes
							a.goto(href='/quotes') перейти к моим цитатам